.next-button {
  width:36px;
  height:36px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left:-36px;
  transform: translateY(51%);
  animation: left-to-right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.skill-section h3{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.skill-section .description-area h3,
.skill-section .description-area p{
  color:#fff;
}


.skill-section hr {
  border-top:1px solid #fff;
}
.hover-text{
  font-size: 2.5rem;
}
.hover-text>b {
  text-transform:uppercase;
}
.skill-section {
  z-index:3;
  position: relative;
  margin-top: -20vH;
  width: 100%;
}
.skill-section > .bg-layer {
    background:#383eaa;
}
.skill-section > .cut-top {
  -webkit-clip-path: polygon(100% 0, 0% 101%, 101% 101%);
  clip-path: polygon(100% 0, 0% 101%, 101% 101%);
  height:10vH;
}
.skill-section > .content-inner{
  padding:5vH 10vW;
  background:#383eaa;
  position: relative;
  height: auto;
  width: 100%;
}
/* img hover list */
.responsive-list{
  margin:0 auto;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: baseline;
}
.responsive-list .item {
  background: #fefefe;
  position: relative;
  display: inline-flex;
  vertical-align: baseline;
}
.responsive-list .item {
  width:100%;
  margin-bottom:5vH;
  height: auto;
  overflow: hidden;
}
.responsive-list .item .image{
  width:100%;
}
/* hover > background */
.responsive-list .item .item-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background:rgba(255,255,255,0);
}
.responsive-list .item .image:hover + .item-inner,
.responsive-list .item .image + .item-inner:hover  {
  transition: all 1s;
  background:rgba(255,255,255,.8);
}
/* hover text posi*/
.responsive-list .item .item-inner span.hover-text {
    opacity: 0;
    transform: translateY(-100%);
    top:0%;
    transition: all 1s;
    display: block;
    position: absolute;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.responsive-list .item .image:hover + .item-inner span.hover-text,
.responsive-list .item .image + .item-inner span.hover-text:hover,
.responsive-list .item .image + .item-inner:hover span.hover-text {
  opacity: 1;
  top:50%;
  transform: translateY(-50%);
  transition: all 1s;
}

@media only screen and (min-width: 768px) {
  .responsive-list .item {
    width:30%;
    margin:1%;
  }
  .hover-text{
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive-list .item {
    width:15%;
    margin:1%;
  }
  .hover-text{
    font-size: 1rem;
  }
}
