
/* reset browser styles*/
* {
  scroll-behavior: smooth;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
:root {
    color: black;
    font-size: 16px;
    font-family: Roboto, serif;
    line-height: 1.4;
    --main-color: #180D5B;
    --highlight-color: #43E8E1;
    --gradient-c1: #4B56C0;
    --gradient-c2: #39BCC6;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*
    View
*/
body {
    background: #fff;
    font-size:62,5%;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after { box-sizing: border-box; }

#main-wrapper {
  width: 100%;
  /*overflow: hidden;*/
}

.burger-menu {
    position: fixed;
    right: 15px; top: 15px;
    z-index: 10;
    height: 30px;
    width: 30px;
    z-index: 12;
    cursor: pointer;
    background: #fff;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' fill='#fff' height='6'/><rect y='24' fill='#fff' width='30' height='6'/><rect y='12' fill='#fff' width='30' height='6'/></svg>");
    background-size: contain;
    /* needs fix for moz old*/
  }

/*
    Header + bgs + Headlines
*/
#logo {
  width: auto;
  height: 60px;
  position: fixed;
  top:0;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left:15px;
  z-index:1338;
  font-family: 'Playfair Display', serif;
}
header.wrapper {
  animation-name: initiateX ;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  height:80vH;
  width:100%;
  top:0;
  left:0;
  right:0;
  transition: left 1s;
  background: url(../img/laptop-layer-bg.png);
  background-position: center 5%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-repeat: repeat-x;
}
.title {
  opacity: .95;
  position: absolute;
  right:0;
  top:20vH;
  width:100%;
  padding:0vH 3vW 0vH 3vW;
  animation-delay: 0s;
  transition: all .5s;
  -webkit-transition: all .2s;
}
h1 {
  font-family: Roboto, serif;
  color:white;
  font-weight: bold;
  line-height:3.5rem;
  font-size:3.5rem;
  text-shadow: 0px 0px 1px white;
  background:none;
  animation-name: floatLeft;
  animation-duration: .7s;
  animation-delay: .2s;
}
h5 {
  color:white;
}
div.content-container {
  margin-top: 83vH;
}
section.bg2.wrapper,
section.bg1.wrapper,
section.bg3.wrapper {
  width:100%;
  left:0;
  transition: left 1s;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-repeat: repeat-x;
  z-index:2;
}
section.bg1 {
  background: #fff;
  margin-top:-20vh;
  padding-bottom: 30vH;
}
section.bg2 {
  background: #fff;
}
section.bg2 .parallax-bg {
  min-height: 50vH;/* temheight x itemcount */
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center -100px;
  background-image: url(../img/test.jpg);

}
section.bg3 {
  background: #1C1160 ;
  box-shadow: -5px 0 60px #000;
  border-top: 1px solid #fff;
  z-index:-3;
}

.intro-section,
.last-content-inner {
  padding-top:10vH;
  width:100%;
  padding-left:10vW;
  padding-right:10vW;

}
.intro-section figure {
  width:40vW;
  min-height:10vH;
  background: #fefefe;
  display: inline-block;
  padding:5px;
}
.intro-section .image-wrapper {
  width: 100%;
  flex-grow: 3;
}
.intro-image {
  height:auto;
}
.intro-section h2 {
  text-align: left;
  font-size: 2rem;
}
.intro-section h3 {
  font-size: 3.5rem;
  text-align: center;
  margin-top:10vH;
}
.content-container .responsive-wrapper {
  display:flex;
  flex-direction: column;
}
.offer-inner {
  height: 50vH;
  background: rgba(0,0,0,.8);
}
.last-content-inner {
  background: rgba(255, 255, 255, 0.5);
  background: rgba(255, 77, 155, 0.5);
  padding-bottom:10vH;
  position: relative;
}
.last-content-inner h3 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin:0;
  margin-bottom:25px;
}
.overlap-direction {
  width: 100px;
  height:100px;
  background: white;
  display: block;
  left: 50%;
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
  border-radius: 50px;
}
.svg-effect-box svg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: .12em 100%;
  font: 16em/1 Arial;
  padding: 0px 14vW 5vH;
}

.svg-bg-wrap {
  background: #fff url(../img/laptop-2-bg.jpg);
  background-size: 180%;
  background-position: top center;
  background-repeat: no-repeat;
}


.divider {
  position: relative;
}
.divider-inner {
  text-align:center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 'Roboto', serif;  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2ed3ae;
  box-sizing: border-box;
}
.divider-inner h3 {
  font-size: 2rem;
  margin-top:1rem;
  margin-bottom:0rem;
  color:#fff;
}
.divider-inner h4{
  margin:0.5rem;
  margin-bottom:1.5rem;
}
.button-white {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    transition: .25s all ease-in-out;

    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-size: 1.2rem;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 600;
    color: #2ed3ae;

    border-radius: 2px;
    border: 1px solid #fff;
    padding: 19px 42px 17px;
    background-color: #fff;
}
.button-white:hover {
  background: none;
  color:#fff;
}

/*
    Media Queries
*/
/*antipattern but w e */
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 94%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
  #logo {
    font-size: 2rem;
  }
}


@media only screen and (min-width: 768px) {
  header.wrapper {
    background-position: center 15%;
    height:70vH;
  }

  .content-container .responsive-wrapper {
    display:flex;
    flex-direction:row;
  }
  .content-container .responsive-wrapper>p {
    padding-left:5vW;
    margin:0;
  }
  .last-content-inner p {
    padding-left: 5px;
  }
  .nav-trigger ~.nav-inner {
    width:50vW;
    display:block;
    top: 0;
    position: fixed;
    transform: translateX(0vW);
    transition: all 1s;width: 50vW;
    margin-left: 43vW;
    margin-right: 60px;
    opacity: 0;
    right: 0;
    left:unset;
    z-index: 4;/*moz fix*/
  }
 .nav-inner>ul {
   margin: 0;
   padding: 0;
   height: auto;
   width: auto;
   background: transparent;
   display:flex;
   justify-content: flex-end;
 }
 .nav-inner>ul>li {
   padding:0;
   margin:0;
   width:auto;
   list-style-type: none;
   justify-content:flex-end;
 }
 .nav-inner>ul>li>a {
   text-decoration:none;
   display:block;
   padding: 15px 1vW;
   text-align:center;
   font-size: 1.2rem;
   opacity: 1;
   width:auto;
 }
 .nav-inner>ul>li>a:hover {
   color: white;
   transition: color .5;
 }
 .nav-trigger:checked ~ header.wrapper,
 .nav-trigger:checked ~ .content-container > section {
   left:0vW;
 }
 .nav-trigger ~ .nav-inner {
   opacity: 1;
   left:unset;
 }
 .nav-trigger:checked ~ .nav-inner {
   opacity: 1;
   left:unset;
 }
 .nav-trigger:checked ~ .nav-inner>ul>li {
   background: transparent;
 }
 .nav-trigger ~ .fake-nav-bg {
   background: rgba(0,0,0,0.7);
   transition: all .7s;
   position: fixed;
 }
 .nav-trigger:checked ~ .fake-nav-bg {
   background: rgba(0,0,0,0);
   transition: all .7s;
   position: fixed;
 }

 .title {
   top:20vH;
   width:100%;
   animation-delay: 0s;
   transition: all .5s;
   -webkit-transition: all .2s;
 }

 h1 {
   font-family: Roboto, serif;
   color:white;
   font-weight: bold;
   line-height:3.5rem;
   font-size:3.5rem;
   text-shadow: 0px 0px 1px white;
 }
 h1 {
   background:none;
   animation-name: floatLeft;
   animation-duration: .7s;
   animation-delay: .2s;
 }
  .intro-section .image-wrapper {
    width: 300%;
    flex-grow: 3;
  }
  .intro-section h2 {
    text-align: left;
    font-size: 3rem;
  }
  .last-content-inner h3 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  header.wrapper {
    background-position: center 15%;
    height:70vH;
    background-size: cover;
  }
  .svg-bg-wrap {
    background: #fff url(../img/laptop-2-bg.jpg);
    background-size: 150%;
    background-position: 52% top;
    background-repeat: no-repeat;
  }
  .svg-effect-box svg {
    padding: 10px 20vW 0;
  }
  .title {
    top:25vH;
    width:100%;
    background:#fff;
    animation-delay: 0s;
    transition: all .5s;
    -webkit-transition: all .2s;
  }

  .title h1 {
    color:#000;
    text-shadow: 0px 0px 1px black;
  }
.title h5 {
    color:#000;
  }
  .title h1,.title h5 {
    text-align: center;
  }
  .intro-section h2 {
    text-align: center;
    font-size: 4rem;
  }
  .nav-trigger ~ .nav-inner {
    opacity: 1;
  }
  .nav-trigger:checked ~ .nav-inner {
    opacity: 0;
  }
  .nav-trigger ~.nav-inner {
    width:30vW;
}
