/*
        Animations
*/

@keyframes initiateX {
  0% {
    transform-origin:top;
    transform:scale(0);
  }
  100% {
    transform:scale(1);
    transform-origin:top;
  }
}
@keyframes floatLeft {
  0% {
    transform: translateX(3000px);
    opacity: 0;
  }
  10% {
    transform: translateX(1000px);
    opacity: 0;
  }
  20% {
    transform: translateX(500px);
    opacity: .1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes aniShow {
  0%   {    opacity: 0;  }
  100% {    opacity: 1;  }
}
@keyframes swipeUp {
  0% {
    top:80vH;
    opacity: 0;
  }
  100% {
    top:60px;
    opacity: .95;
  }
}

* {
  scroll-behavior: smooth;
}

/*
        Structure
*/
:root {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
    View
*/
body {
    background: #16232B;
    font-size:62,5%;
    font-family: 'Roboto', sans-serif;
}
html * {
  box-sizing: border-box;
}
#main-wrapper {
  width: 100vW;
  overflow: hidden;
}



/*
    Header + bgs
*/
#logo {
  width: 80vW;
    height: 60px;
    position: fixed;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left:15px;
    background-color: #16232B;
}
header.wrapper {
animation-name: initiateX ;
animation-duration: .5s;
animation-timing-function: ease-in;
  height:80vH;
  width:100vW;
  left:0;
  transition: left 1s;
  background: url(../img/bg2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0);
  position: relative;
  top: 40px;
  background-repeat: repeat-x;
}


.title {
  background:#fff;
  opacity: .95;
  position: absolute;
  left:0;
  top:60px;
  width:100vW;
  padding:0vH 3vW 0vH 3vW;
  animation-name: swipeUp;
  animation-duration: .7s;
  animation-delay: .2s;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.title:hover {
  padding-bottom: 5vH;
}
.title:after {
  content: "";
  opacity: .5;
  background:#fff;
  position: absolute;
  top:100vH;
    width:100vW;
    left:0;
  height:5vH;
  transition: all .7s;
  -webkit-transition: all .7s;
}
.title:hover:after {
  top:25vH;
  opacity: .95;
}
h1 {
  font-family: Roboto, serif;
  color:black;
  font-weight: bold;
  line-height:3.5rem;
  font-size:3.5rem;
}
h1 {
  background:#fff;
  animation-name: floatLeft;
  animation-duration: .7s;
  animation-delay: .2s;
}
/*
    Menu
*/
 .nav-inner {
   width:100vW;
   display:block;
   top: 62px;
   position: fixed;
   z-index: 1000;
}
.nav-inner>ul {
    margin: 0;
    padding: 0;
    height: 100vH;
    width: 50vw;
    background: black;
    display: block;
}
.nav-inner>ul>li> {
    padding:0;
    margin:0;
    width: 50vW;
    list-style-type: none;
    text-decoration:none;
}
.nav-inner>ul>li>a {
  color: #58e274;
  text-decoration:none;
  display:inline-block;
  width:94vW;
  padding: 30px 3vW;
  text-align:left;
  font-size: 1.2rem;
  opacity: 1;
}
.nav-inner>ul>li>a:hover {
  color: #fff;
  transition: all .5;
}
input[type="nav-trigger"] {
  position: fixed;
}
label[for="nav-trigger"] {
    position: fixed;
    right: 15px; top: 15px;
    z-index: 2;

    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' fill='#fff' height='6'/><rect y='24' fill='#fff' width='30' height='6'/><rect y='12' fill='#fff' width='30' height='6'/></svg>");
    background-size: contain;
  }
#nav-trigger {
  visiblity:hidden;
  opacity: 0;
  top:0;
  left:0;
}

/* burger click event */

.nav-trigger ~.nav-inner {
        transform: translateX(-50vW);
        transition: all 1s;
}
.nav-trigger:checked ~ .nav-inner {
        transform: translateX(0vW);
        transition: all 1s;
}
.nav-trigger:checked ~ .header-container>header.wrapper,
.nav-trigger:checked ~ .content-container > section {
  left:50vW;
  transition: left 1s;
}
.nav-trigger:checked ~ .nav-inner>ul>li {
  background: black;
}
/*
.nav-trigger:checked ~ .nav-inner>ul>li:nth-child(1)>a {
  animation-name: aniShow;
  animation-duration: 1.4s;
  animation-delay: .5s;
}
.nav-trigger:checked ~ .nav-inner>ul>li:nth-child(2)>a {
  animation-name: aniShow;
  animation-duration: 1.8s;animation-delay: .5s;
}
.nav-trigger:checked ~ .nav-inner>ul>li:nth-child(3)>a {
  animation-name: aniShow;
  animation-duration: 2.2s;animation-delay: .5s;
}
.nav-trigger:checked ~ .nav-inner>ul>li:nth-child(4)>a {
  animation-name: aniShow;
  animation-duration: 2.6s;animation-delay: .5s;
}
*/
section.bg1.wrapper,
section.bg2.wrapper {
  height:100vH;
  width:100vW;
  left:0;
  transition: left 1s;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0);
  position: relative;
  background-repeat: repeat-x;
}
section.bg1 {
    background: #16232B;
      margin-top:-20vh;
      z-index:-1;
}
section.bg2 {
  background: url(../img/bg1.jpg);
    margin-top:-20vh;
    z-index:-2;
}
/*
    Media Queries
*/

@media only screen and (min-width: 768px) {
  header.wrapper {
    background-position: center 15%;
    height:70vH;
  }
  .nav-trigger ~.nav-inner {
    width:50vW;
    display:block;
    top: 0;
    position: fixed;
    transform: translateX(0vW);
    transition: all 1s;width: 50vW;
    margin-left: 43vW;
    margin-right: 60px;
    opacity: 0;
    right: 0;
  }
 .nav-inner>ul {
   margin: 0;
   padding: 0;
   height: auto;
   width: auto;
   background: transparent;
   display:flex;
   justify-content: flex-end;
 }
 .nav-inner>ul>li {
   padding:0;
   margin:0;
   width:auto;
   list-style-type: none;
   justify-content:flex-end;
 }
 .nav-inner>ul>li>a {
   color: #58e274;
   text-decoration:none;
   display:block;
   padding: 15px 1vW;
   text-align:center;
   font-size: 1.2rem;
   opacity: 1;
   width:auto;
 }
 .nav-trigger:checked ~ .header-container>header.wrapper,
 .nav-trigger:checked ~ .content-container > section {
   left:0vW;
 }
 .nav-trigger:checked ~ .nav-inner {
   opacity: 1;
 }
 .nav-trigger:checked ~ .nav-inner>ul>li {
   background: transparent;
 }
}
@media only screen and (min-width: 1200px) {
  header.wrapper {
    background-position: center 20%;
    height:70vH;
    background-size: contain;
  }
  .nav-trigger ~ .nav-inner {
    opacity: 1;
  }
  .nav-trigger:checked ~ .nav-inner {
    opacity: 0;
  }
  .nav-trigger ~.nav-inner {
    width:30vW;
  \
}
