/*
        Animations
*/

@keyframes initiateX {
  0% {
    transform-origin:top;
    transform:scale(0);
  }
  100% {
    transform:scale(1);
    transform-origin:top;
  }
}
@keyframes floatLeft {
  0% {
    transform: translateX(3000px);
    opacity: 0;
  }
  10% {
    transform: translateX(1000px);
    opacity: 0;
  }
  20% {
    transform: translateX(500px);
    opacity: .1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes showElement {
  0%   {    opacity: 0;  }
  100% {    opacity: 1;  }
}
@keyframes moveUp {
  0% {
    top:80vH;
    opacity: 0;
  }
  100% {
    top:60px;
    opacity: .95;
  }
}

* {
  scroll-behavior: smooth;
}

/*
        Structure
*/
.clip-top {
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}
.clip-bottom {
  -webkit-clip-path:polygon(100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0% 80%, 0 0);
}
.clip-right {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0% 100%);
}
:root {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
    --main-color: #180D5B;
    --highlight-color: #43E8E1;
    --gradient-c1: #4B56C0;
    --gradient-c2: #39BCC6;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*
    View
*/
body {
    background: var(--main-color);
    font-size:62,5%;
    font-family: 'Roboto', sans-serif;
}
html * {
  box-sizing: border-box;
}
#main-wrapper {
  width: 100vW;
  overflow: hidden;
}

/*
    Header + bgs + Headlines
*/

.title {
  background:#fff;
  opacity: .95;
  position: absolute;
  right:0;
  top:20vH;
  width:100vW;
  padding:0vH 3vW 0vH 3vW;
  animation-delay: 0s;
  transition: all .5s;
  -webkit-transition: all .2s;
}

.title:after {
  content: "";
  opacity: .5;
  background:#fff;
  position: absolute;
  top:100vH;
    width:100vW;
    left:0;
  height:5vH;
  transition: all .7s;
  -webkit-transition: all .7s;
}
.title:hover:after {
  top:22vH;
  opacity: .95;
}

h1 {
  font-family: Roboto, serif;
  color:black;
  font-weight: bold;
  line-height:3.5rem;
  font-size:3.5rem;
}
h1 {
  background:#fff;
  animation-name: floatLeft;
  animation-duration: .7s;
  animation-delay: .2s;
}

/*
    Menu
*/
 .nav-inner {
   width:100vW;
   display:block;
   top: 62px;
   position: fixed;
   z-index: 12;
}
.nav-inner>ul {
    margin: 0;
    padding: 0;
    height: 100vH;
    width: 50vw;
    background: black;
    display: block;
}
.nav-inner>ul>li> {
    padding:0;
    margin:0;
    width: 50vW;
    list-style-type: none;
    text-decoration:none;
}
.nav-inner>ul>li>a {
  color: var(--highlight-color);
  text-decoration:none;
  display:inline-block;
  text-transform: lowercase;
  width:94vW;
  padding: 30px 3vW;
  text-align:left;
  font-size: 1.2rem;
  opacity: 1;
}
.nav-inner>ul>li>a:hover {
  color: #C2C2F8;
  transition: all .5;
}
input[type="nav-trigger"] {
  position: fixed;
}
label[for="nav-trigger"] {
    position: fixed;
    right: 15px; top: 15px;
    z-index: 10;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' fill='#fff' height='6'/><rect y='24' fill='#fff' width='30' height='6'/><rect y='12' fill='#fff' width='30' height='6'/></svg>");
    background-size: contain;/*    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><linearGradient id='linear' x1='0%' y1='0%' x2='100%' y2='0%'><stop offset='0%' stop-color='#4B56C0'/><stop offset='50%' stop-color='#3F9CC5'/><stop offset='100%' stop-color='#39BCC6'/><linearGradient><rect width='30' fill='url(#linear)' height='6'/><rect y='24' fill='url(#linear)' width='30' height='6'/><rect y='12' fill='url(#linear)' width='30' height='6'/></svg>");    */
  }
#nav-trigger {
  visiblity:hidden;
  opacity: 0;
  top:0;
  left:0;
}
.fake-nav-bg {
  z-index: 3;
  background: rgba(0,0,0,0);
  width: 100vW;
  height: 60px;
  position: none;
  top:0;
  transition: all .7s;
}

.nav-trigger ~.nav-inner {
        transform: translateX(-50vW);
        transition: all 1s;
}
.nav-trigger:checked ~ .nav-inner {
        transform: translateX(0vW);
        transition: all 1s;
}
.nav-trigger:checked ~ header.wrapper,
.nav-trigger:checked ~ .content-container > section {
  left:50vW;
  transition: left 1s;
}
.nav-trigger:checked ~ .nav-inner>ul>li {
  background: black;
}
.nav-trigger:checked ~ .fake-nav-bg {
  background: rgba(0,0,0,.7);
  transition: all .7s;
  position: fixed;
}



/*

*/
#logo {
  width: 88vW;
  height: 60px;
  position: fixed;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left:15px;
  z-index:11;
  /*
  background-image: linear-gradient(15deg,#22216D ,#1C1364);
  */
}
header.wrapper {
  animation-name: initiateX ;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  height:80vH;
  width:100vW;
  top:0;
  left:0;
  right:0;
  transition: left 1s;
  background: url(../img/laptop-layer-bg.png);
  background-position: 5% -2%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-repeat: repeat-x;
}
div.content-container {
  margin-top: 83vH;
}
section.bg1.wrapper,
section.bg2.wrapper {
  height:100vH;
  width:100vW;
  left:0;
  transition: left 1s;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-repeat: repeat-x;


  z-index:2;
}
section.bg1 {
    background: #fff;
      margin-top:-20vh;
      z-index:-1;
}
section.bg2 {
  background: url(../img/bg1.jpg);
    margin-top:-20vh;
    z-index:-2;
}
.intro-section {
  padding-top:10vH;
  width:100vW;
  padding-left:10vW;
  padding-right:10vW;
}
.intro-section figure {
  width:40vW;
  min-height:10vH;
  background: #fefefe;
  display: inline-block;
  padding:5px;
}
.intro-section p {
  display: inline-block;
}
/*
    Media Queries
*/

@media only screen and (min-width: 768px) {
  header.wrapper {
    background-position: center 15%;
    height:70vH;
  }
  .nav-trigger ~.nav-inner {
    width:50vW;
    display:block;
    top: 0;
    position: fixed;
    transform: translateX(0vW);
    transition: all 1s;width: 50vW;
    margin-left: 43vW;
    margin-right: 60px;
    opacity: 0;
    right: 0;
  }
 .nav-inner>ul {
   margin: 0;
   padding: 0;
   height: auto;
   width: auto;
   background: transparent;
   display:flex;
   justify-content: flex-end;
 }
 .nav-inner>ul>li {
   padding:0;
   margin:0;
   width:auto;
   list-style-type: none;
   justify-content:flex-end;
 }
 .nav-inner>ul>li>a {
   text-decoration:none;
   display:block;
   padding: 15px 1vW;
   text-align:center;
   font-size: 1.2rem;
   opacity: 1;
   width:auto;
 }
 .nav-trigger:checked ~ header.wrapper,
 .nav-trigger:checked ~ .content-container > section {
   left:0vW;
 }
 .nav-trigger:checked ~ .nav-inner {
   opacity: 1;
 }
 .nav-trigger:checked ~ .nav-inner>ul>li {
   background: transparent;
 }

 .title {
   top:20vH;
   width:100vW;
   animation-delay: 0s;
   transition: all .5s;
   -webkit-transition: all .2s;
 }
 .title:after {
   content: "";
   opacity: .5;
   background:#fff;
   position: absolute;
   top:100vH;
     width:100vW;
     left:0;
   height:5vH;
   transition: all .7s;
   -webkit-transition: all .7s;
 }
 .title:hover:after {
   top:29vH;
   opacity: .95;
 }

 h1 {
   font-family: Roboto, serif;
   color:black;
   font-weight: bold;
   line-height:3.5rem;
   font-size:3.5rem;
 }
 h1 {
   background:#fff;
   animation-name: floatLeft;
   animation-duration: .7s;
   animation-delay: .2s;

}
@media only screen and (min-width: 1200px) {
  header.wrapper {
    background-position: center 15%;
    height:70vH;
    background-size: cover;
  }

  .title {
    top:25vH;
    width:100vW;
    animation-delay: 0s;
    transition: all .5s;
    -webkit-transition: all .2s;
  }
  .title h1,.title h5 {
    text-align: center;
  }
  .nav-trigger ~ .nav-inner {
    opacity: 1;
  }
  .nav-trigger:checked ~ .nav-inner {
    opacity: 0;
  }
  .nav-trigger ~.nav-inner {
    width:30vW;
}
