/*
.hover-text{
  padding-top:5rem;
  font-size: 2.5rem;
}
.hover-text>b {
  text-transform:uppercase;
}
.item img {
  display: inline-block;
}
.item {
  background: #fefefe;
  position: relative;
  width:98%;
  height:30%;
  display: inline-flex;
  overflow:hidden;
  padding:2%;
  margin-bottom:5vH;
}
.item-inner {
  position: absolute;
  box-sizing: border-box;
  padding-top: 5vH;
  text-align: center;
  display: inline-block;
  height:200%;
  width:100%;
  left:0;
  margin-top:-100%;
  opacity: 0;
  transition: all .5s;
  background:rgba(255,255,255,0.2);
}
.item:hover {
  z-index: 1000;
}
.item:hover .item-inner,
.item-inner:hover {
  background:rgba(255,255,255,0.9);
  opacity: 1;
  margin-top:0%;
  transition: all .5s;
}
.item:hover {
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,.1);
}


@media only screen and (min-width: 768px) {
  .item {
    background: #fefefe;
    position: relative;
    width:33%;
    height: 33%;
    display: inline-flex;
    overflow:hidden;
  }
  .hover-text>b {
    font-size: 2rem;
  }
  .hover-text{
    padding-top:0rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .item-inner {
    padding-top:2vH;
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media only screen and (min-width: 900px) {
.item-inner {
    padding-top: 2vH;
  }
}
@media only screen and (min-width: 1200px) {
  .item {
    background: #fefefe;
    position: relative;
    background: #fefefe;
    position: relative;
    width:33%;
    height: 33%;
    display: inline-flex;
    overflow:hidden;
    overflow:hidden;
  }
  .hover-text{
    padding-top:2.5rem;
    font-size: 1.2rem;
  }
  .hover-text>b {
    font-size: 2.9rem;
    text-align: center;
  }
  .item-inner {
    padding-left: 7%;
    padding-right: 7%;
  }
}
*/
